*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  font-family: sans-serif;
  background-image: url(fondo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-color: rgb(238, 225, 183);
}

.container{
  width: 500px;
  border-radius: 15px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  background: rgba(255, 255, 255, 0.97);
  margin-bottom: 30pt;
}


.formulario__subtitulo {
  text-align: center;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
}

.form-check-label,
.formulario__parrafo{
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  margin: auto;
  max-width: 90%;

}

.form-check-label{
  padding-left: 20px;
}

.form-check-input {
  font-size: 24px;
  margin-left: 10px;
  background-color: #ff7474;
  border-radius: 5px;
}

.flechasRoja {
  background-color: red;
  font-size: 24px;
  margin-left: 10px;
  border-radius: 5px;
  color: #f5f6fa;
}

.flechasVerde {
  background-color: rgb(60, 255, 0);
  font-size: 24px;
  margin-left: 10px;
  border-radius: 5px;
  color: #000000;
}

.container .inputs{
  height: 40px;
  width: auto;
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
  position: relative;   
}

.container .inputs input {
  font-size: 18px;
  padding-left: 20%;
}

.container .inputs input{
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(255, 110, 110);
  outline: none;
  font-size: 18px;
  transition: 0.3s;
  background-color: rgb(255, 238, 182);
}

.container .inputs input:focus{
  border-color: rgb(20, 220, 53);
}



.container .inputs label{
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  font-size: 24px;
  transition: 0.3s;
  color: rgb(173, 0, 0);
  padding-left: 5pt;
}

.container .inputs input:focus ~ label,
.container .inputs input:valid ~ label{
  transform: translateY(-28px);
  color: rgb(10, 156, 30);
}

.formulario__submit {
  display: block;
  width: fit-content;
  font-size: 25px;
  text-align: center;
  border: 2px solid #ff5f5f;
  box-shadow: 0 5px 0 #750000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .5s ease-in-out;
  background: #ff0000;
  color: #f5f6fa;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.formulario__submit:hover {
  box-shadow: 0 2px 0 rgb(10, 19, 17);
  background: linear-gradient(-135deg, #ff7272, #660101);
}

/* respuesta del formulario */
#respuesta {
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
#respuesta.fail {
  color: red;
}
#respuesta.send {
  color: green;
}
img {
  width: 250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.nav-responsive {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: navy;
  padding: 2rem 0rem;
  width: 100%;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 13%);
  border-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 00px;
  border-bottom-left-radius: 0px;
  margin-top: -140px;
  margin-left: -20px;
  flex-direction: column-reverse;
  height: fit-content;
  max-width: 500px;
  margin-top: -150px;
}

.logo {
  border-radius: 20%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.site-nav {
  top: 100%;
  right: 0;
  position: absolute;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  font-size: 20px;
}

.site-nav-open {
  clip-path: circle(150% at top right);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ebedb3;

  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #e4b363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, .4);
}

.menu-toggle {

  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;

}

.menu-open .hamburger {
  transform: rotate(45deg);
}

.menu-open .hamburger::before {
  opacity: 0;
}

.menu-open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

@media (min-width:700px) {
  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    margin-right: 10px;
    clip-path: initial;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
  }

  .site-nav--icon {
    display: none;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }

}
